/* Page styles */
main {
  min-height: calc(100% - 100px);
  overflow: hidden;
}

main #mob-nav {
  display: none;
}

main .mob-search-full {
  background: pink;
  width: 95%;
  opacity: 80%;
  z-index: 500;
}

.longpage {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  min-height: 100vh;
  padding-left: 10px;
}

.longpage h1 {
  display: inline-block;
  margin-block-end: 100px;
  height: fit-content;
  font-size: 63px;
  font-weight: 100;
  margin-block-start: 0;
  margin-bottom: 20px;
}
