#uniquesize-guide #uniquesize-top {
    position: relative;
    width: 100%;
    right: 0;
    padding-top: 52px;
    vertical-align: top;
}

#uniquesize-guide #uniquesize-top div {
    display: inline-block;
    position: relative;
    width: calc(100% - 400px);
    vertical-align: top;
    margin-block-end: 0;
    margin-block-start: 0;
}

#uniquesize-guide #uniquesize-top div p,
#uniquesize-guide #uniquesize-bottom p {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-block-end: 0;
    margin-block-start: 0;
    font-size: 18px;
}

#uniquesize-guide #uniquesize-top div #unique-p1 {
    font-size: 20px !important;
}

#uniquesize-guide #uniquesize-top #unique-p2 {
    padding-top: 5px;
    left: 0;
}

#uniquesize-guide #uniquesize-top #unique-p3 {
    padding-top: 5px;
    left: 0;
}

#uniquesize-guide #uniquesize-bottom {
    display: inline-block;
    position: relative;
    width: 100%;
    align-self: flex-end;
}

#uniquesize-guide #uniquesize-bottom p {
    display: block;
    width: 75%;
    float: right;
}

#uniquesize-guide #uniquesize-bottom img {
    display: block;
    position: relative;
    float: left;
    height: 250px;
    width: 250px;
}