#collectionspage #collec-container .collec-item {
    position: relative;
    margin: 20px;
    width: 300px;
    overflow: hidden;
    height: 300px;
    background: rgb(163, 102, 146);

}

#collectionspage #collec-container .collec-item img {
    position: absolute;
    display: block;
    height: 300px;
    z-index: 100;
}

#collectionspage .collec-names {
    position: absolute;
    font-size: 50px;
    font-weight: 100;
    z-index: 1000;
    height: fit-content;
    text-align: center;
    width: 100%;
    color: white;
    top: 118.4px;
    bottom: 118.4px;
}

#collectionspage .collec-item:hover {
    cursor: pointer;
    opacity: 70%;
}