header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

/* Logo */
#cont-logo, #logo-link {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cont-logo:hover {
    cursor: pointer;
}


#cont-logo #logo-link img {
    height: 185%;
    z-index: 1;
}

#cont-logo #logo-link img:hover {
    cursor: pointer;
}

/* Navbar */
header nav {
    display: block;
    position: relative;
    width: 38%;
    z-index: 1000;
}

#mob-nav-button {
    display: none;
    z-index: 1000;
}

header nav ul {
    font-size: 120%;
    list-style-type: none;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 30px;
    width: auto;
    float: left;
}

.nav-button {
    display: inline-block !important;
}

.nav-button:hover {
    cursor: pointer;
}

.nav-divider {
    display: inline-block;
}