header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

#cont-logo {
    position: absolute;
    height: 80px;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cont-logo:hover {
    cursor: pointer;
}


#cont-logo img {
    height: 185%;
    z-index: 1;
}

#cont-logo img:hover {
    cursor: pointer;
}

header nav {
    display: block;
    position: relative;
    width: 38%;
    z-index: 1000;
}

#mob-nav-button {
    display: none;
    z-index: 1000;
}

header nav ul {
    font-size: 120%;
    list-style-type: none;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 30px;
    width: auto;
    float: left;
}

.nav-button {
    display: inline-block !important;
}

.nav-button:hover {
    cursor: pointer;
}

.nav-divider {
    display: inline-block;
}

/* PAGES */
#page-container {
    position: relative;
    min-height: calc(100vh - 100px);
    top: 0;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

#page-container #mob-nav {
    display: none;
}

#page-container .mob-search-full {
    background: pink;
    width: 95%;
    opacity: 80%;
    z-index: 500;
}