header {
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-left: var(--padding-edge);
    padding-right: var(--padding-edge);
    box-sizing: border-box;
}

/* Logo */
#logo-link {
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#logo-link img {
    height: 150%;
    z-index: 1;
}

#logo-link img:hover {
    cursor: pointer;
}


@media screen and (max-width: 450px) {
    header {
        display: flex;
        justify-content: space-between;
    }
}