#homepage {
    height: 100%;
    width: 120%;
    position: absolute;
    bottom: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.home-shape {
    transform: skewX(-10deg);
    height: 100%;
    text-align: center;
    overflow: hidden;
    z-index: 1;
}

.home-shape-divider {
    height: 100%;
    transform: skewX(-10deg);
    /* background: rgb(255, 14, 114); */
    flex-grow: 1;
    justify-self: flex-start;
    width: 15px;
}

.home-text {
    font-size: 4.5vw;
    position: relative;
    z-index: 1000;
    top: 15%;
    left: 50%;
    margin-left: -50%;
    height: fit-content;
    width: 100%;
    color: white;
    transform: skewX(10deg);
    /* background: antiquewhite; */
}

#bottomrighthome-text {
    top: 13% !important;
    margin-left: -57% !important;
}

#lefthome {
    transform-origin: center;
    width: 30%;
    flex-grow: 1;
    justify-self: flex-start;
    overflow: hidden;
    padding-left: 6%;
}

#lefthome img {
    position: absolute;
    width: auto;
    transform: skewX(10deg) translate(-48%, -50%);
    display: flex;
    top: 50%;
    left: 63%;
}

#lefthome:hover {
    opacity: 70%;
    display: block;
    cursor: pointer;
}

#midhome {
    /* background: orange; */
    width: calc(40%);
    flex-grow: 1;
    position: relative;
}

#midhome img {
    position: absolute;
    height: auto;
    width: auto;
    transform: skewX(10deg) translate(-48%, -50%);
    display: flex;
    top: 50%;
    left: 63%;
    overflow: hidden;
}

#midhome:hover {
    opacity: 70%;
    display: block;
    cursor: pointer;
}

#righthome {
    position: relative;
    justify-self: flex-end;
    flex-grow: 1;
    transform-origin: center;
    width: 30%;
    padding-right: 6%;
}

#mob-hs-div-2 {
    display: none;
}

#toprighthome {
    background: palevioletred;
    transform-origin: bottom;
    height: calc(75% - 15px);
    width: 100%;
    top: 0;
    position: absolute;
    overflow: hidden;
}

#toprighthome img {
    position: absolute;
    height: auto;
    width: auto;
    transform: skewX(10deg) translate(-48%, -50%);
    display: flex;
    top: 50%;
    left: 63%;
}

#toprighthome:hover {
    opacity: 70%;
    display: block;
    cursor: pointer;
}

#bottomrighthome {
    /* background: purple; */
    transform-origin: bottom;
    height: 25%;
    width: 100%;
    bottom: 0;
    position: absolute;
    align-self: flex-end;
    overflow: hidden;
}

#bottomrighthome img {
    position: absolute;
    height: auto;
    width: auto;
    transform: skewX(10deg) translate(-60%, -39%);
    display: flex;
    top: 50%;
    left: 63%;
}

#bottomrighthome:hover {
    opacity: 70%;
    display: block;
    cursor: pointer;
}

#mob-bottomlefthome {
    display: none;
}

#mob-bottomrighthome {
    display: none;
}
