/* transform: skewX(-10deg); */

#homepage {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: calc(100vh - 100px);
    overflow: hidden;
}

.home-shape {
    width: calc(100% / 3);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skewX(-10deg);
}

.home-shape-divider {
    width: 9px;
    transform: skewX(-10deg);
    background-color: red;
}

#righthome {
    flex-direction: column;
    flex-wrap: nowrap;
    transform-origin: bottom left;
}

#lefthome {
    transform-origin: top left;
}

.home-image {
    flex-shrink: 0;
    min-height: 100%;
    min-width: 100%;
    transform: skewX(10deg);
}